.card {
    .card-header {
        border-radius: $card-border-radius $card-border-radius 0 0;
        border-bottom: 2px solid theme-color-level(light, 0.1);
    }
    .card-body {
        .section-title {
            color: $silver;
        }
    }
}