// Overwrite Bootstrap's variables here
// You can find them in node_modules/bootstrap/scss/_variables.scss
// Copy the variables you need into this file, don't modify files under node_modules/

// Some example variables that you can uncomment:

// Overriding Typography
$font-family-base: 'Lato', sans-serif;
$font-weight: 300;
$font-weight-light: 100;
$font-weight-base: $font-weight;

// Enabling shadows and gradients
$enable-shadows: true;
//$enable-gradients: true;

// Changing the border radius of buttons
//$border-radius: 15px;

// Changing the theme colors
//$primary: #202f41;
//$secondary: #436296;
//$success: #2bc550;
//$info: #495dff;
//$warning: #ef8143;
//$danger: #ff293a;
$light: #f8f8f8;
$dark: #102e5d;
$silver: #b1bdce;

// Changing the body background and text
$body-bg: #f8f8f8;
$body-color: $dark;

// Adding (!) an additional theme color (ex. classes btn-cool, bg-cool)
$theme-colors: (
 "silver": #b1bdce
);

// Card Variables Override
$card-cap-bg: #fff;
// $card-bg: #fff;
// $card-border-radius: 0.6rem;
//$card-border-width: 0;
$card-border-color: rgba(0,0,0,0.10);
// $card-cap-color: #102e5d;