// Overwrite Bootstrap's variables here
// You can find them in node_modules/bootstrap/scss/_variables.scss
// Copy the variables you need into this file, don't modify files under node_modules/

// Typography
$font-family-base: 'Lato', sans-serif;

// Font Weights
$font-weight-100: 100;
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-600: 600;
$font-weight-base: $font-weight-300;

// Font Sizes
$font-28: 28px; // Engagement Stats
$font-22: 22px; // Profile User Name, Performance Goal Stats
$font-16: 16px; // Profile User Role, Card Title, Section Title 
$font-14: 14px; // Profile User Stats, Profile Stats Title, Load More Btn
$font-12: 12px; // Profile Stats Caption, Competency Tags, Table Headers, Cert Title, etc
$font-10: 10px; // Cert Caption

// Image Icons Width
$img-icon-small: 40px;
$img-icon-mini: 25px;

// Enabling shadows and gradients
$enable-shadows: true;
$card-box-shadow: 1px 2px 8px 0 #E3E3E3;
$input-box-shadow: 0px 0px 0px 2px #e3e3e3;
//$enable-gradients: true;

// Changing the border radius of buttons
//$border-radius: 15px;

// Changing the theme colors
$primary: #EE5B36;
//$secondary: #436296;
//$success: #2bc550;
$info: #7199CD;
//$warning: #ef8143;
//$danger: #ff293a;
$light: #f8f8f8;
$dark: #102e5d;
$silver: #A6B4C7;
$blue: #0D72BA;

// Changing the body background and text
$body-bg: #f8f8f8;
$body-color: $dark;

// Adding (!) an additional theme color (ex. classes btn-cool, bg-cool)
$theme-colors: (
 "silver": #b1bdce
);

// Card Variables Override
$card-cap-bg: #fff;
// $card-bg: #fff;
$card-border-radius: 4px;
//$card-border-width: 0;
$card-border-color: rgba(0,0,0,0.10);
// $card-cap-color: #102e5d;