.cursor-pointer {
    cursor: pointer;
}

.underline {
    text-decoration: underline !important;
}

.perfect-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfect-spaced-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hidden {
    opacity: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.scroll-active {
    &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 5px;
        height: 5px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: rgba(0,0,0,.1);
        -webkit-box-shadow: 0 0 1px rgba(255,255,255,.1);
    }
}