.certification-container {
    display: flex;
    flex-flow: row wrap;
}

.certification-card {
    @extend .mini-card;
    padding: 1rem;
    width: 275px;
    @extend .mr-4, .mb-4;
    border: 1px solid #ecebeb;
    .details {
        margin-left: 20px;
        .title {
            font-size: 0.8rem;
        }
    }
}

.certification-modal-card {
    @extend .mini-card;
    padding: 0.5rem;
    line-height: 1.3rem;
    .hover-actions {
        position: absolute;
        top: 0.5rem;
        right: 1rem;
        word-spacing: 0.5rem;
        .fa {
            cursor: pointer;
        }
    }
}

.add-certification-card {
    justify-content: center;
    flex-direction: column;
    background: #ecebeb5e;
    color: $primary;
    font-size: 1.3rem;
    justify-content: space-evenly;
    font-variant: all-small-caps;
}