.certification-container {
    display: flex;
    flex-flow: row wrap;
}

.certification-card {
    @extend .mini-card;
    padding: 1rem;
    width: 210px;
    @extend .mr-3, .mb-3;
    border: 1px solid #ecebeb;
    .details {
        margin-left: 20px;
        .title {
            font-size: 0.7rem;
        }
        .caption {
            font-size: 0.65rem;
        }
    }
}

.certification-modal-card {
    @extend .mini-card;
    padding: 0.5rem;
    line-height: 1.5rem;
    .hover-actions {
        position: absolute;
        top: 0.5rem;
        right: 1rem;
        word-spacing: 0.5rem;
        .fa {
            cursor: pointer;
        }
    }
    .cert-download-btn {
        @extend .btn, .btn-sm, .btn-primary;
        position: absolute;
        bottom: 0.5rem;
        right: 1rem;
    }
    & + .certificate-image {
        padding: 0 1rem;
        box-shadow: 0 0 1rem .1rem rgba(#000, .075);
        img {
            width: 100%;
        }
    }
}

.add-certification-card {
    justify-content: center;
    flex-direction: column;
    background: #ecebeb5e;
    color: $primary;
    font-size: 1.3rem;
    justify-content: space-evenly;
    font-variant: all-small-caps;
}

.add-certification-modal {
    .add-certification-modal-footer {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .attachments {
            display: none;
            margin: 0 0 1rem 0;
            width: 100%;
            .custom-file {
                .custom-file-input {
                    cursor: pointer;
                }
                .custom-file-label {
                    height: 2rem;
                    font-size: 0.75rem;
                    border: 1px solid #b1bdce;
                    box-shadow: none;
                    color: $silver;
                    &::after {
                        color: $silver;
                        background-color: #fff;
                    }
                }
            }
            &.show {
                display: block;
            }
        }
    }
}