.dataTables_info {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: absolute;
	right: 50px;
    margin-top: 10px!important;
	margin-bottom: 20px;
	padding: 0 !important;
	font-size: $font-12;
	color: $dark;
	font-weight: $font-weight-400;
}

.dataTables_paginate {
	position: absolute;
	right: 10px;
	ul.pagination {
		width: 40px;
		display: flex;
		justify-content: space-between !important;
		align-items: center;
		margin-right: -10px !important;
		.paginate_button {
			padding: 0 !important;
			border: 0 !important;
			min-width: 0 !important;
			font-weight: $font-weight-100 !important;
			a {
				color: $silver !important;
				font-size: $font-14;
				&:focus {
					outline: none;
				}
			}
			&:hover {
				border: 0 !important;
				background: transparent !important;
				color: $silver !important;
			}
			&:focus {
				outline: none;
			}
		}
	}
}

.dataTables_scrollBody,
table.dataTable,
table.dataTable thead th,
table.dataTable thead td {
	margin: 0 !important;
	border-bottom: 0 !important;
}

.dataTable {
	width: 100% !important;
}

.DTFC_LeftBodyLiner {
	height: calc(100% - 6px) !important; // Substract the Scrollbar height from the Fixed Column of the Table
}