table.dataTable {
		
	thead tr {
		th {
			font-size: 100%;
			font-weight: $font-weight-regular;
			padding: 1rem 1.3rem 1rem 0;
			width: 30%;
			border: 0;
			border-bottom: 1px solid $silver;
		}
	}
	
	td {
		border: 0;
		padding: .75rem 1.7rem .75rem 0;
		width: 29.5%;
		.date {
			color: $silver;
		}
	}

	font-size: $table-data-font-size;
	font-weight: $font-weight-regular;
	
}