.dataTables_info {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: absolute;
	right: 0;
	font-size: $font-12;
	color: $dark;
	font-weight: $font-weight-400;
	.btn {
		font-size: $font-22;
		width: fit-content;
		color: $silver;
		margin-top: -10px;
	}
}

.dataTables_scrollBody,
table.dataTable,
table.dataTable thead th,
table.dataTable thead td {
	margin: 0 !important;
	border-bottom: 0 !important;
}

.dataTable {
	width: 100% !important;
}

.DTFC_LeftBodyLiner {
	height: calc(100% - 6px) !important; // Substract the Scrollbar height from the Fixed Column of the Table
}