.engagement-cards-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.engagement-card {
    @extend .mini-card, .d-inline-block, .flex-fill ;
    .details {
        .title {
            color: $silver;
            font-size: $font-16;
            font-weight: $font-weight-300;
        }
        .caption {
            color: $dark;
            font-size: $font-28;
            font-weight: $font-weight-400;
            display: flex;
            align-items: center;
        }
        .engagement-modal-card {
            width: 140px;
            .comment {
                color: $silver;
            }
        }
    }
}
.engagement-modal-card {
    padding: 0.5rem;
    margin-bottom: 1rem;
    .description {
        margin-top: 0.6rem;
        margin-left: 3rem;
        font-size: $font-12;
        color: $silver;
    }
    .mini-card {
        .comment {
            font-size: $font-12;
            @extend .font-weight-normal;
        }
        .title {
            color: $dark;
            font-size: $font-14;
        }
    }
}