.feedback-filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-top: 0;
}
.feedback-filter-card {
    @extend .mini-card, .cursor-pointer;
    padding: 1rem;
    color: $blue;
    .details {
        .title {
            color: $info;
            font-size: $font-14;
            font-weight: $font-weight-300;
        }
    }
    &.active {
        background-color: lighten($blue, 50%);
        color: $blue;
        .title {
            color: $blue;
            font-weight: $font-weight-400;
        }
    }
}

.table-container {
    .table {
        td:first-child {
            .mini-card {
                padding-left: 0.6rem;
            }
        }
    }

    .mini-card {
        .btn-more-mini {
            padding-left: 0;
            text-align: left;
            margin-top: -10px !important;
        }
    }
}