.feedback-filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-top: 0;
}
.feedback-filter-card {
    @extend .mini-card, .cursor-pointer;
    padding: 1rem;
    color: $blue;
    .details {
        .title {
            color: $info;
            font-size: 0.8rem;
            font-weight: 100 !important;
        }
    }
    &.active {
        background-color: lighten($blue, 50%);
        color: $blue;
        .title {
            color: $blue;
            font-weight: 400 !important;
        }
    }
}

.feedback-table-container {
    border: 1px solid rgba(#000, .075);
    border-radius: 0.25rem;
    .table th {
        width: 11rem;
    }
    .mini-card {
        padding: 1rem 1rem 1rem 0;
        .btn-more-mini {
            padding-left: 0;
            text-align: left;
            margin-top: -10px !important;
        }
    }
}