.members-sidebar {
    width: 130%;
    font-size: 80%;
    .members-header {
        font-size: 0.9rem;
        font-weight: 400;
        margin-bottom: 1rem;
    }
    .input-group {
        border-bottom: 1px solid $silver;
        .members-search {
            background-color: transparent;
            border: none;
            border-radius: 0;
            padding: 0;
            &::placeholder {
                color: $silver;
                font-size: 0.8rem;
                font-weight: $font-weight-400;
                padding: 0.5rem;
            }
            &:focus {
                box-shadow: none;
            }
        }
        .input-group-append {
            .input-group-text {
                border: none;
                .fa {
                    color: $silver;
                    font-size: $font-12;
                    font-weight: $font-weight-600;
                }
            }
        }
    }
    .members-container {
        max-height: 60vh;
        overflow-y: scroll;
        .mini-card {
            cursor: pointer;
            padding: 0.5rem;
            .details {
                .title {
                    color: $info;
                    font-size: $font-12;
                    font-weight: $font-weight-300;
                }
                .caption {
                    font-size: $font-10;
                }
            }
            &.active, &:hover {
                background-color: #fff;
                border-left: 3px solid $primary;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                .title {
                    color: $dark;
                    font-weight: $font-weight-400;
                }
            }
            &:hover:not(.active) {
                border: none;
            }
        }
    }
}