.mini-card {
    position: relative;
    display: flex;
    align-items: center;
    // padding: 1rem;
    border-radius: 0.5rem;
    .details {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        .title {
            font-size: $font-14;
            font-weight:  $font-weight-400;
        }
        .caption {
            font-size: $font-12;
            color: $silver;
        }
        .meta-text {
            font-size: 0.6rem;
            color: $info;
        }
        .comment {
            color: $dark;
            font-size: $font-12;
        }
        .hashtag {
            @extend .mt-2, .mb-2;
            color: $info;
            font-size: $font-12;
        }
        .dropdown {
            opacity: 0;
            height: 0;
            width: 17rem;
            max-height: 300px;
            position: absolute;
            top: 40px;
            right: -2rem;
            background-color: #fff;
            overflow-y: scroll;
            z-index: 100;
            transition: all 0.3s ease-in-out;
            &.show {
                opacity: 1;
                height: auto;
            }
            .card-body {
                padding: 0 1rem 1rem 1rem;
                .mini-card {
                    margin-top: 1rem;
                }
            }
        }
    }
}