.mini-card {
    display: flex;
    align-items: center;
    // padding: 1rem;
    border-radius: 0.5rem;
    .details {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        .title {
            font-size: $sub-title-font-size;
            @extend .font-weight-normal;
        }
        .caption {
            font-size: $sub-caption-font-size;
            color: $silver;
        }
        .meta-text {
            font-size: 0.6rem;
            color: $info;
        }
        .comment {
            color: $dark;
            font-size: $sub-caption-font-size;
        }
        .hashtag {
            @extend .mt-2, .mb-2;
            color: $info;
            font-size: $sub-caption-font-size;
        }
    }
}