.profile-stats {
	margin-bottom: 1.5rem;
	.profile {
		display: flex;
		align-items: center;
		
		&__details {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;
			margin-left: 20px;
			line-height: 2;
		}
		&__user-name {
			font-size: $font-22;
    		font-weight: $font-weight-400;
			color: $dark;
		}
		&__user-position {
			font-size: $font-16;
    		font-weight: $font-weight-400;
			color: $dark;
		}
		&__manager, &__department, &__business-unit {
			display: flex;
			font-size: 0.8rem;
			.title {
				display: inline-block;
				color: $silver;
				margin-right: 5px;
			}
			.caption {
				display: inline-block;
				color: $info;
			}
		}

		&__img {
			width: 120px;
		}
	}
}