.reports-container {
	.report-filters {
		@extend .perfect-spaced-between;
		margin-bottom: 1rem;
		.input-group {
			width: 300px;
			input[type="text"] {
				background-color: #fff;
				border: none;
				border-radius: 5px;
				padding: 1rem;
				z-index: 0;
				&::placeholder {
					color: $silver;
					font-size: $font-12;
					font-weight: $font-weight-400;
				}
			}
			.input-group-append {
				position: absolute;
				top: 5px;
				right: 0;
				.input-group-text {
					border: none;
					.fa {
						color: $silver;
						font-size: $font-12;
						font-weight: $font-weight-600;
						z-index: 1;
					}
				}
			}
		}
		.buttons {
			.btn {
				width: max-content;
				min-width: 120px;
				padding: .2rem .75rem;
				font-size: $font-16;
			}
			.btn-outline-primary {
				background-color: #fff;
				&:hover {
					background-color: $primary;
				}
			}
			.btn-link-primary {
				color: $primary;
			}
		}
	}

	.report-nav-tabs {
		.nav-tabs {
			border: 0;
			.nav-item {
				font-size: $font-14;
				font-weight: $font-weight-300;
				color: $silver;
				padding: 0.8rem 1rem;
				border: 0;
				border-radius: $card-border-radius;
				box-shadow: $card-box-shadow;
				&.active {
					color: $dark;
					font-weight: $font-weight-400;
					background-color: #fff;
				}
			}
		}
	}

	.table-container {
		position: relative;
		border: none;
		box-shadow: $card-box-shadow;
		background-color: #fff;
	}
}

.modal {
	.modal-header {
		padding: .5rem 1.3rem;
	}
	.modal-body {
		padding: 0 1.3rem;
	}
	.reports-modal-card {
		@extend .mini-card ;
		justify-content: space-between;
		padding: 15px 0;
		.details {
			margin-left: 0;
			width: 50%;
		}
		.date {
			font-size: $font-12;
			color: $silver;
			font-weight: $font-weight-400;
		}
		.btn-link-primary {
			color: $primary;
			font-variant: normal;
			text-transform: uppercase;
			font-weight: $font-weight-400;
			font-size: $font-12;
		}
		.hover-actions {
			width: 50px;
			display: flex;
			justify-content: space-between;
		}
	}
}