.role-assessment-card {

	.section-title {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	
	.table-container {
		.table {
			td:first-child {
				.mini-card {
					padding-left: 0rem;
				}
			}
		}
	}
}

.role-assessment-modal {
	.form-check-title {
		font-size: 0.9rem;
		color: $dark;
		font-weight: 400;
	}
}