.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    .stats__details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .stats__card {
            display: flex;
            align-items: center;
            .fa {
                font-size: 2rem;
            }
            .stats__card__details {
                display: flex;
                flex-direction: column;
                margin-left: 10px;
                .title {
                    font-size: 0.8rem;
                    font-weight: 400;
                }
                .caption {
                    font-size: 0.6rem;
                    color: $silver;
                }
            }
        }
    }
}