.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    .stats__details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px;
    }
    .stats__competencies {
        width: 100%;
        .competencies__title {
            @extend .mb-2, .font-weight-normal;
            font-size: $font-14;
            color: rgba($dark, .75);
        }
    }
}

.stats__card {
    @extend .mini-card;
    padding: 0;
    .details {
        margin-left: 10px;
    }
}