.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    .stats__details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .stats__competencies {
        width: 100%;
        .competencies__title {
            @extend .mb-2, .font-weight-normal;
            font-size: $sub-title-font-size;
        }
        .competencies__details {
            .tag--blue {
                @extend .badge, .badge-primary, .p-2, .mr-2, .mb-2;
                background: #DFEDFD;
                color: #3383C4;
                border-radius: 0.5rem;
                font-size: 12px;
                font-weight: 400;
            }
        }
    }
}

.stats__card {
    @extend .mini-card;
}