.tag-blue {
    @extend .badge, .p-2, .mr-2, .mb-2;
    background: lighten($blue, 50%);
    color: $blue;
}

.tag-mini {
    font-size: 12px;
    font-weight: 400;
    border-radius: 0.5rem;
    padding: 0.3rem 1rem !important;
}

.tag-cross {
    &:after {
        content: '\2715';
        position: relative;
        left: 5px;
        font-size: 10px;
        cursor: pointer;
    }
}

.tag-filters {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .tag-mini {
        cursor: pointer;
        margin-right: 50px;
        color: $info;
    }
    .active {
        @extend .tag-blue ;
        font-weight: $font-weight-400;
        color: $dark;
        margin: 0 50px 0 0 !important;
        border-radius: 0.5rem;
    }
}