* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #039;
}

a:hover {
    color: #03F;    
    text-decoration: none;
}

*:not(body, html) {
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
    &::-webkit-scrollbar-thumb {
        height: 2px;
        width: 2px;
        border: 1px solid transparent;
        background-clip: padding-box;
        -webkit-border-radius: 7px;
        background-color: lightgray;
    }
    &::-webkit-scrollbar-button {
        width: 0;
        height: 0;
        display: none;
    }
    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}