/* 

    This File contains Styles for Container Section that holds the main views of Backbone
    
*/

.container-empty {
    display: flex;
    margin-top: 10px;
    font-size: 14px;
    justify-content: center;
    height: 20vh;
    align-items: center;
}

.container {
    // width: 995px!important;
    // max-width: 1440px !important;
    margin-left: 220px !important;
    width:  1010px !important;
}

.container-temp {
    width: 1220px!important;
    max-width: 1300px !important;
}

// @media only screen and (max-width: 1200px) {
//     .container {
//         // margin-left: 220px !important;
//         // width: 50vw !important;
//         // max-width: 2560px !important;
//         // margin-top: 9.5rem !important;
//     }
// }