$header_height: 7vh;
$min-header_height: 50px;

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: $header_height;
    min-height: $min-header_height;
    transition: all 0.2s ease-in-out;
    background-color: #fcfcfc;
    box-shadow: 1px 1px 20px #333;
    z-index: 1000;
}